html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------- DEFAULT STYLING END --------------------- */

html, body {
    height: 100%;
}
.containerAll {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-columns: minmax(175px, .8fr) 3fr 1fr;
}
.containerSideBar {
    grid-area: 1 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: 1fr;
    line-height: 2rem;
    background-color: #04364A;
    align-content: start;
    justify-content: left;
    gap: 35px;
    color: white;
    font-size: 1.25rem;
}
.containerHeader {
    grid-area: 1 / 2 / 2 / 4;
    background-color: #176B87;
}
.containerProjects {
    grid-area: 2 / 2 / 4 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-template-rows: 20px repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
    overflow: auto;
}
.containerAnnouncements {
    grid-area: 2 / 3 / 3 / 4;
}
.containerTrending {
    grid-area: 3 / 3 / 4 / 4;
    overflow: auto;
}
.containerProjects, .containerAnnouncements,
.containerTrending {
    background-color: white;
}
.sideIcon {
    height: 25px;
    margin-right: 15px;
    background-color: white;
    border-radius: 5px;
}
.dashboardHeader {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 1.3rem;
    font-weight: bold;
}
.containerSideBar li:hover {
    background-color: #176B87;
    cursor: pointer;
}
.containerSideBar li {
    display: flex;
    padding-left: 15px;
    align-items: center;
}
.headerTop {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 5px;
    font-size: 1.25rem;
    align-items: center;
    color: white;
}
.headerBottom {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 5px;
    font-size: 1.25rem;
    align-items: center;
    color: white;
}

input {
    max-width: 400px;
    flex-grow: 1;
}
form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
    justify-content: flex-end;
}
button[type='submit'] {
    background-image: url(./images/magnify.svg);
    background-repeat: no-repeat;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
button:not([type='submit']), input {
    border-radius: 10px;
    border: 2px solid #04364A;
}
button, input, .project, .containerTrending > div ~ div, .containerAnnouncements > div ~ div, .menu {
    box-shadow: 5px 5px 5px #04364A;
}
.userActions:hover, .menu:hover  {
    background-color: #04364A;
    border-color: white;
    color: white;
    cursor: pointer;
}
.projectHeader {
    grid-column: 1 / -1;
}
.projectHeader, .announcementHeader, .trendingHeader {
    font-size: 1.25rem;
    font-weight: bold;
}
.projectIndivHeader, .trendingUser, .announcementIndivHeader {
    font-weight: bold;
    font-size: 1rem;
    
}
.projectIndivHeader, .announcementIndivHeader {
    padding-bottom: 8px;
}
.project, .containerAnnouncements > div ~ div, .containerTrending > div ~ div {
    background-color: rgb(222, 222, 222);
    border-left: 5px solid #176B87;
    color: black;
    border-radius: 10px;
}
.containerAnnouncements, .containerTrending {
    display: grid;
    grid-template-columns: minmax(130px, 1fr);
    gap: 15px;
    padding: 15px;
}
.containerAnnouncements {
    grid-template-rows: 20px repeat(3, 1fr);
}
.containerTrending {
    grid-template-rows: 20px repeat(4, 1fr);
}
.project {
    padding: 30px 10px 10px 10px;
}
.containerAnnouncements > div ~ div {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}
.containerTrending > div ~ div {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: flex-start;
}
.smallScreenMenu ul > li {
    position: absolute;
    visibility: hidden;
}
@media (max-width: 625px)  {
    .containerAll {
        grid-template-columns: 1fr;
        grid-template-rows: .25fr 1fr;
    }
    .containerSideBar, .containerAnnouncements, .containerTrending {
        visibility: hidden;
        position: relative;
        grid-area: 2 / 1 / 3 / 2;
        right: auto;
    }
    .containerHeader {
        grid-area: 1 / 1 / 2 / 2;
    }
    .containerProjects {
        grid-area: 2 / 1 / 3 / 2;
    }
    .smallScreenMenu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px 15px 15px;
        flex-grow: 1;
    }
    .smallScreenMenu ul > li {
        visibility: visible;
        position: relative;
        padding: 8px;
        font-weight: bold;
        border-radius: 10px;
        box-sizing: border-box;
        text-align: center;
        max-width: 150px;
        flex-grow: 1;
        background-color: white;
        border: 3px solid #04364A;
    }
}
@media (min-width: 626px) {
    .containerSideBar, .containerAnnouncements, .containerTrending {
        visibility: visible !important;
    }
}