html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------- DEFAULT STYLING END --------------------- */

html, body {
    height: 100%;
}
.containerAll {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-columns: minmax(150px, 1fr) 3fr 1fr;
}
.containerSideBar {
    grid-area: 1 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: 1fr;
    line-height: 2rem;
    background-color: #04364A;
    align-content: start;
    justify-content: left;
    gap: 35px;
    color: white;
    font-size: 1.25rem;
}
.containerHeader {
    grid-area: 1 / 2 / 2 / 4;
    background-color: #176B87;
}
.containerProjects {
    grid-area: 2 / 2 / 4 / 3;
}
.containerAnnouncements {
    grid-area: 2 / 3 / 3 / 4;
}
.containerTrending {
    grid-area: 3 / 3 / 4 / 4;
}
.containerProjects, .containerAnnouncements,
.containerTrending {
    background-color: #DAFFFB;
}
.sideIcon {
    height: 25px;
    margin-right: 15px;
    background-color: white;
    border-radius: 5px;
}
.dashboardHeader {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 1.3rem;
    font-weight: bold;
}
.containerSideBar li:hover {
    background-color: #176B87;
}
.containerSideBar li {
    display: flex;
    padding-left: 15px;
    align-items: center;
}
.headerTop {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 5px;
    font-size: 1.25rem;
    align-items: center;
    color: white;
}
input {
    max-width: 400px;
    flex-grow: 1;
}
form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
    justify-content: flex-end;
}
button[type='submit'] {
    background-image: url(./images/magnify.svg);
    background-repeat: no-repeat;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

button:not([type='submit']), input {
    border-radius: 10px;
    border: 2px solid #04364A;
    box-shadow: 5px 5px 5px #04364A;
}